@model List<Entities.Models.Product>

<div class="container my-4">
  <div class="h5 mb-3">Favorilerim</div>

  @if (!(Model?.Any() ?? false))
  {
      <div class="alert alert-light">Henüz favori ürün eklemediniz.</div>
  }
  else
  {
      <div class="row">
          @foreach (var p in Model)
          {
              @await Html.PartialAsync("_ProductCard", p)  // ortak kart partial'ı
          }
      </div>
  }
</div>
