@model Product
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h6 class="display-6">
                @Model.ProductName
            </h6>

            <img width="300" class="img-fluid rounded my-3" src="@Model?.ImageUrl" alt="@Model?.ProductName" />
            <p class="lead text-primary">@Model.Price.ToString("c")</p>
        </div>
    </div>
</div>



<p></p>


<div class="text-center">
    <div class="d-flex justify-content-center">
        <a class="btn btn-outline-primary me-2" asp-controller="Home" asp-action="Index">
            <i class="fa-solid fa-house"></i>
            Fenerium</a>
        <form id="@Model.ProductId" asp-page="/cart" method="post">
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="btn btn-primary tooltip-btn" style="border:none;">
                <i class="fa fa-cart-plus"></i>
            </button>
        </form>

    </div>
</div>

@section Header {
    <div>
        Header for only Get
    </div>
}