<section class="home-benefits container-fluid my-4">
  <div class="row g-3">

    <div class="col-12 col-md-6 col-lg-3">
      <div class="benefit-card-img">
        <div class="benefit-media">
          <img src="~/images/benefits/kargo_bedava.jpg" alt="Kargo Bedava" />
        </div>
        <div class="benefit-body">
          <div class="benefit-icon"><i class="fa-solid fa-truck-fast"></i></div>
          <div>
            <div class="fw-semibold">2000 TL üzeri kargo bedava</div>
            <div class="small text-muted">Hızlı ve güvenli teslimat</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <div class="benefit-card-img">
        <div class="benefit-media">
          <img src="~/images/benefits/taksit.jpg" alt="Taksit" />
        </div>
        <div class="benefit-body">
          <div class="benefit-icon"><i class="fa-solid fa-credit-card"></i></div>
          <div>
            <div class="fw-semibold">2000₺ ve üzeri alışverişlerde 3 taksit imkanı</div>
            <div class="small text-muted">Peşin fiyatına</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <div class="benefit-card-img">
        <div class="benefit-media">
          <img src="~/images/benefits/kolay_iade.jpg" alt="Kolay İade" />
        </div>
        <div class="benefit-body">
          <div class="benefit-icon"><i class="fa-solid fa-rotate-left"></i></div>
          <div>
            <div class="fw-semibold">Kolay iade</div>
            <div class="small text-muted">Hızlı süreç, net kurallar</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <div class="benefit-card-img">
        <div class="benefit-media">
          <img src="~/images/benefits/güvenli_ödeme.jpg" alt="Güvenli Ödeme" />
        </div>
        <div class="benefit-body">
          <div class="benefit-icon"><i class="fa-solid fa-shield-halved"></i></div>
          <div>
            <div class="fw-semibold">Güvenli ödeme</div>
            <div class="small text-muted">SSL & 3D Secure</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
