@model int
<a asp-controller="Cart" asp-action="Index" class="d-flex align-items-center position-relative text-dark text-decoration-none">
    <i class="fa-solid fa-cart-shopping fa-lg"></i>
    @if (Model > 0)
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @Model
            <span class="visually-hidden">Sepet</span>
        </span>
    }
</a>
