@* Views/Shared/_LoginMenu.cshtml *@
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@if (User?.Identity?.IsAuthenticated ?? false)
{
    @* Giriş yapılmışsa burada hiçbir şey gösterme (logout dropdown’da zaten) *@
}
else
{
    <li class="nav-item p-0 m-0">
        <a class="nav-link d-flex align-items-center text-dark text-decoration-none px-0"
           asp-controller="Account"
           asp-action="Login"
           asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)">
            <i class="fa-solid fa-right-to-bracket me-1 fa-lg"></i>
            <span>Giriş Yap</span>
        </a>
    </li>
}
