<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="row">
    <div class="col-md-3">
        <div class="card bg-warning text-navy" style="width: 18rem;">
            <div class="card-body text-center">
                <h6 class="card-subtitle mb-2">Toplam</h6>
                <h5 class="card-title">Ürün Sayısı</h5>
                <h3 class="text-center display-3">
                    @await Component.InvokeAsync("ProductSummary")
                </h3>
                <a asp-controller="Product" asp-action="Index" class="card-link text-navy text-decoration-none">Ürünler</a>
                <a asp-controller="Product"  asp-action="Create" class="card-link text-navy text-decoration-none">Yeni Ürün</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-primary text-white" style="width: 18rem;">
            <div class="card-body text-center">
                <h6 class="card-subtitle mb-2">Toplam</h6>
                <h5 class="card-title">Kategori Sayısı</h5>
                <h3 class="text-center display-3">
                    @await Component.InvokeAsync("CategorySummary")
                </h3>
                <a asp-controller="Category" asp-action="Index" class="card-link text-white text-decoration-none">Kategoriler</a>
                <a asp-controller="Category" asp-action="Create" class="card-link text-white text-decoration-none">Yeni Kategori</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-warning text-navy" style="width: 18rem;">
            <div class="card-body text-center">
                <h6 class="card-subtitle mb-2">Toplam</h6>
                <h5 class="card-title">Kullanıcı Sayısı</h5>
                <h3 class="text-center display-3">
                    @await Component.InvokeAsync("UserSummary")
                </h3>
                <a asp-controller="User" asp-action="Index" class="card-link text-navy text-decoration-none">Kullanıcılar</a>
                <a asp-controller="User" asp-action="Create" class="card-link text-navy text-decoration-none">Yeni Kullanıcı</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-primary text-white" style="width: 18rem;">
            <div class="card-body text-center">
                <h6 class="card-subtitle mb-2">Toplam</h6>
                <h5 class="card-title">Bekleyen Sipariş</h5>
                <h3 class="text-center display-3">
                    @await Component.InvokeAsync("OrderInProgress")
                </h3>
                <a asp-controller="Order" asp-action="Index" class="card-link text-white text-decoration-none">Siparişler</a>
            </div>
        </div>
    </div>
</div>